// Main lib
@import './lib/index';

// Importing config file with $set-config-sample inside
@import './config.sample';

// Setting base variables
$set-line-config: $set-config-sample;
$set-line-default: 'phone-vertical';

/***********************************/

// Easy to refer to any parameter in the config. Also good for testing
$root-gap-base: get-value('line-height', $for: 'root', $on: 'tablet');

* {
  box-sizing: border-box;
}

html { @include set-line('root'); }

body {
  @include test-baseline(
    $break: 1,
    $width: 1px,
    $color: rgba(34, 167, 112, 0.16),
    $test-lines: auto
  );
  width: 100%; height: 100%; margin: 0;
  padding: 0 $root-gap-base;
}

p   { @include set-line('p'); } 
h1  { @include set-line('h1'); }
h2  { @include set-line('h2'); }
h3  { @include set-line('h3'); }
h4  { @include set-line('h4'); }
h5  { @include set-line('h5'); }
h6  { @include set-line('h6'); }

.test-element { @include set-line('test-element', $debug: false); }

.test-block {

  max-width: 96rem;
  margin: 0 auto;
  color: black;

  @include test-baseline(
    $break: 2,
    $width: 1px,
    $color: rgba(60, 156, 219, 0.295)
  );

  @include set-breakpoint('desktop') {
    color: #222;
  }

}
