// Main lib
@import './lib/index';

// Importing config file
@import './config.sample';

// Setting base variables
$set-line-config: $set-config-sample;
$set-line-default: 'phone-vertical';

/***********************************/

* { box-sizing: border-box }

html { @include set-line(); }

body {
	width: 100%; height: 300rem; margin: 0; padding: 0;
}
